WEB_URL=http://localhost:4200
API_URL=http://localhost:3000

E2E_FIREBASE_PROJECT_ID=
E2E_FIREBASE_CLIENT_EMAIL=
E2E_FIREBASE_PRIVATE_KEY=

E2E_DB_HOST=localhost
E2E_DB_PORT=5432
E2E_DB_USER=
E2E_DB_PASSWORD=
E2E_DB_NAME=
